<div class="main">
    
    <!-- begin button -->
    <div *ngIf="!isGameBegin" class="beginGame">
        <button mat-raised-button color="primary" (click)="makeTheGameBegin()" class="btn-start-game">Commencer une partie !</button>
    </div>
    

    <!-- div game -->
    <div *ngIf="isGameBegin" class="bodyGame">
        <button mat-raised-button color="primary" (click)="resetGame()" class="btn-reset"> <mat-icon>refresh</mat-icon> Reset</button>
        <div *ngIf="isGameCurrentlyPlaying" class="div-input">
            <br>
            <br>
            <input type="text" readonly="readonly" [value]="input" class="input_input"/>
            <br>
            <br>
            <input type="text" autofocus placeholder="Ecrire ici..." (keydown.enter)="onKeyDownEnterInput($event)" [(ngModel)]="output" class="input_output"/>
            <br> <br>
            <div class="points">
                <mat-chip-list class="display">
                    <mat-chip color="default" selected>Points &nbsp;&nbsp;<mat-chip [color]="colorOfPoints" selected>{{ points }}</mat-chip></mat-chip> 
                    <mat-chip color="default" selected>Temps &nbsp;&nbsp;<mat-chip color="primary" selected> {{ timer/1000 | number : '1.3-3'  }} s </mat-chip></mat-chip> 
                </mat-chip-list>
            </div>
        </div>
        <br>
        <br><br>
        <mat-card *ngIf="isGameSumarry">
            <mat-card-title>Résumé de la partie</mat-card-title>
            <mat-card-subtitle>{{ timeStartGame | date : 'dd/MM/yyyy' }}</mat-card-subtitle>
            <mat-card-content>
                <mat-chip color="default" selected>Points &nbsp;&nbsp;<mat-chip [color]="colorOfPoints" selected>{{ points }}</mat-chip></mat-chip>&nbsp;
                <mat-chip color="default" selected>Temps &nbsp;&nbsp;<mat-chip color="primary" selected> {{ cumulTemps/1000 | number : '1.3-3'  }} s  ({{ cumulTemps | number : '1.3-3' }} ms)</mat-chip></mat-chip>&nbsp;
                <mat-chip color="default" selected>Temps moyen &nbsp;&nbsp;<mat-chip color="primary" selected> {{ avgTime/1000 | number : '1.3-3' }} s </mat-chip></mat-chip> 

                <br> <br>
                <mat-chip-list>
                    <mat-chip *ngFor="let item of wordsHeWrote; let i = index;" [color]="isWellWritten[i] ? 'primary' : 'accent'" selected>{{ wordsHeWrote[i]+" : "+wordsToWrite[i]+" ("+timePerWords[i]+" ms)" }}</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
