<table>
    <tr>
        <td>
            <a routerLink=""><button mat-raised-button>Retour</button></a>
        </td>
    </tr>
    <tr>
        <td>
            <!-- CONNEXION -->
            <mat-card>
                <h1>Réinitialiser le mot de passe</h1>
                <form [formGroup]="resetForm" (ngSubmit)="resetMdp()" type="">
                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </p>            
                    <button mat-raised-button color="primary">Envoyer</button>
                </form>
            </mat-card>
        </td>
    </tr>
</table>

<mat-card *ngIf="firebaseErrorMessage != ''" class="warning">
    <mat-card-title> <mat-icon>info</mat-icon>Information</mat-card-title>
    <mat-card-content>
        <span class="error-style">{{ firebaseErrorMessage }}</span>
    </mat-card-content>
</mat-card>


